/* Start Variables */
:root {

    /* Text */
    --Pale-Violet: hsl(276, 100%, 81%);
    --Moderate-Violet: hsl(276, 55%, 52%);
    --Dark-Violet: hsl(271, 15%, 43%);
    --Grayish-Blue: hsl(206, 6%, 79%);
    --Very-Dark-Violet: hsl(271, 36%, 24%);
    --Grayish-Violet: hsl(270, 7%, 64%);

    /* Gradients */

    --Light-Magenta: hsl(293, 100%, 63%);
    --Light-Violet: hsl(264, 100%, 61%);

    --White: hsl(0, 0%, 100%);
    --Light-Grayish-Violet: hsl(270, 20%, 96%);
    --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
    --Very-Light-Magenta: hsl(289, 100%, 72%);
}

/* End Variables */

/* Start Global Rules */


* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    max-width: 1440px;
    width: 100%;
}


body {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    max-width: 1440px;
    min-height: 100vh;
    /* overflow: hidden; */
}


/* Start Components */
.chat {
    color: var(--Moderate-Violet);
    width: fit-content;
    max-width: 71%;
    font-size: 0.8rem;
    margin: 1.5vh;
    padding: 0.5vh 1vh 0.5vh 0.5vh;
    border-radius: 6px;
    animation-name: left-to-right;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transition: 0.5s;
    position: relative;
}

.fr-chat {
    background-color: white;
    color: black;
    width: fit-content;
    max-width: 71%;
    font-size: 0.8rem;
    margin: 1.5vh;
    padding: 0.5vh 0.5vh 0.5vh 1vh;
    border-radius: 6px;
    justify-self: flex-end;
    animation-name: right-to-left;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    box-shadow: 4px 4px 30px hsla(271, 36%, 24%, 0.37);
    position: relative;
    transition: 0.5s;
}

/* @media (min-width: 375px) and (max-width: 768px) {

    .chat,
    .fr-chat {
        margin: 1vh;
    }

} */


@keyframes left-to-right {
    from {
        right: 200px;
        background-color: var(--Light-Grayish-Violet);
    }

    to {
        right: 0;
        background-color: hsla(289, 100%, 72%, 0.127);
    }
}

@keyframes right-to-left {
    from {
        left: 200px;
    }

    to {
        left: 0;
    }
}

.chat p,
.fr-chat p {
    padding: auto 0.8vh auto 0.8vh;
}

.purple-block {
    display: flex;
    background-image: linear-gradient(90deg, var(--Light-Magenta), var(--Light-Violet));
    color: white;
    align-items: center;
    width: 70%;
    margin: 1.5vh;
    border-radius: 10px;
    border-bottom-left-radius: 3px;
    cursor: pointer;
    animation-name: move-anim;
    animation-duration: 1.5s;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    animation-direction: alternate;
    position: relative;
    transition: 0.5s;
}

@keyframes move-anim {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(50px);
    }
}

.button-purpleblock {
    width: 1.5vh;
    height: 1.5vh;
    border-radius: 50%;
    border: 2px solid var(--Very-Light-Magenta);
    margin: 0 0 0 1vh;
}

.purple-block p {
    margin: 0 3vh 0 1vh;
    font-size: 0.66rem;
    width: 40%;
}

.purple-block span {
    font-weight: bold;
    font-size: 0.8rem;
    padding: 1vh;
}

/* End Components */






.background {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: inline-flex;
    justify-content: space-between;
    overflow: hidden;
    z-index: 1;
}

.background .purple-background {
    width: 75vh;
    height: 80vh;
    background-image: linear-gradient(180deg, var(--Light-Magenta), var(--Light-Violet));
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-left: -25%;
}

@media (min-width: 375px) and (max-width: 768px) {
    .background .purple-background {
        margin-left: -55vh;
        margin-top: -18vh;
    }

}

@media (min-width: 1441px) {
    .background .purple-background {
        margin-left: -38vh;
    }

}

.background .transparent-background {
    width: 75vh;
    height: 80vh;
    background-color: var(--Light-Grayish-Violet);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin-right: -25%;
    margin-top: 13%;
    justify-self: flex-end;
}

@media (min-width: 375px) and (max-width: 1200px) {
    .background .transparent-background {
        display: none;
    }
}

.page {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    height: 100%;
    width: 100%;
}


.container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    margin-left: 4.5vh;
}

@media (min-width: 375px) and (max-width: 768px) {
    .container {
        flex-direction: column;
        margin-left: 0vh;
        width: 100%;
        height: 100%;
        justify-content: space-between;
    }

}



.container .phone {
    width: 18rem;
    max-width: 25rem;
    height: auto;
    border: 10px solid white;
    background-color: var(--Light-Grayish-Violet);
    border-radius: 30px;
    position: relative;
    z-index: 2;
    box-shadow: 4px 4px 30px hsla(271, 36%, 24%, 0.37);
}

@media (min-width: 375px) and (max-width: 768px) {
    .container .phone {
        margin-top: 20%;
    }

}

.container .phone-header {
    background-image: linear-gradient(270deg, var(--Light-Magenta), var(--Light-Violet));
    width: 100%;
    height: 15%;
    border-radius: 5px;
    padding-top: 1vh;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
}


.container .phone-header .phone-header-camera {
    position: absolute;
    background-color: white;
    justify-self: center;
    left: 50%;
    top: -1.5%;
    transform: translateX(-50%);
    width: 16vh;
    height: 4vh;
    border-radius: 30px;
    z-index: 2;
}



.container .phone-header .phone-header-all .header-content .arrow-img {
    color: white;
    display: flex;
    align-items: center;
    margin: 2vh 1vh 1vh 2vh;
}

.container .phone-header .phone-header-all .header-content .arrow-img i {
    cursor: pointer;
}

.container .phone-header .phone-header-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .phone-header .phone-header-all .points {
    margin: 2vh 1vh 1vh 0;
    color: white;
    cursor: pointer;
}

.container .phone-header .phone-header-all .header-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container .phone-header .phone-header-all .text-header {
    margin-top: 2vh;
}


.container .phone-header .phone-header-all .text-header h5 {
    color: white;
    font-size: 0.65rem;
    font-weight: normal;
}

.container .phone-header .phone-header-all .text-header p {
    font-size: 0.5rem;
    color: var(--Grayish-Violet);
    padding-top: 0.5vh;
}

.container .phone-header .phone-header-all img {
    max-width: 100%;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
    margin-left: 0.5vh;

}

.dog-images {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dog-images img {
    max-width: 100%;
    height: 6.5vh;
    margin-right: 1vh;
    border-radius: 10px;
    animation-name: dog-rotate;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes dog-rotate {
    to {
        transform: rotate(360deg) scale(1.1);
    }
}

.phone-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.phone-footer input[type="text"] {
    display: block;
    background-color: white;
    outline: none;
    border: none;
    margin: 0 auto 1vh;
    border: none;
    padding: 1.5vh 1vh 1.5vh 2vh;
    border-radius: 30px;
    caret-color: var(--Light-Magenta);
    color: var(--Light-Magenta);
    width: 90%;
}

/* @media (min-width: 375px) and (max-width: 768px) {
    .phone-footer input[type="text"] {
        margin-bottom: 2%;
    }
} */

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: var(--Very-Dark-Desaturated-Violet);
    right: 2vh;
    margin-bottom: 1vh;
    color: white;
    width: 2vh;
    height: 2vh;
    padding: 1.5vh;
    border-radius: 50%;
    cursor: pointer;
    animation-name: rolling;
    animation-duration: 1.5s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: linear;
    transition: 0.5s;
}

@keyframes rolling {
    to {
        transform: translateX(-200px) rotate(360deg);
    }
}

.container .text {
    width: 47vh;
}


@media (min-width: 375px) and (max-width: 768px) {
    .container .text {
        width: 83%;
        text-align: center;
        margin: 7vh auto;
    }

}


.container .text h2 {
    color: var(--Very-Dark-Violet);
    margin-bottom: 3vh;
    font-size: 2.5rem;
    font-weight: 500;
}

.container .text p {
    color: var(--Grayish-Violet);
    line-height: 1.6;
}


/* @keyframes rolling {
    to {
        transform: translateX(-200px) rotate(360deg);
    }
} */


/* Start Credits */
.credits {
    width: fit-content;
    margin: 0 auto;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    text-align: center;
    color: var(--Very-Dark-Violet);
    z-index: 2;
    width: fit-content;
}

.credits a {
    color: var(--Light-Violet);
    transition: .3s;
}

.credits a:hover {
    color: var(--Light-Magenta);
}